In [ ]:
import pandas as pd

accident data

In [ ]:
data=pd.read_csv('/content/accident_full_weather_detailed.csv')#with weather details

In [ ]:
data.shape

(11356, 58)

In [ ]:
vec_data=pd.read_csv('/content/dft-road-casualty-statistics-vehicle-last-5-years.csv')#uk offical vechile,driver details

/tmp/ipython-input-3431527347.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  vec_data=pd.read_csv('/content/dft-road-casualty-statistics-vehicle-last-5-years.csv')

In [ ]:
new_data=pd.merge(data,vec_data,on='accident_reference')#joining both with reference

In [ ]:
new_data.isnull().sum()

Unnamed: 0                    0
accident_index_x              0
accident_year_x               0
accident_reference            0
location_easting_osgr         0
                           ...
dir_from_e                 6908
dir_from_n                 6908
dir_to_e                   6910
dir_to_n                   6910
driver_distance_banding       0
Length: 91, dtype: int64

In [ ]:
new_data.shape

(7133, 91)

non accident

In [ ]:
non_data=pd.read_csv('/content/non_accident_weather_balanced11111.csv')#non_accident data with weather details

In [ ]:
non_data.shape

(16283, 61)

In [ ]:
vec_details=pd.read_csv('/content/dft-road-casualty-statistics-vehicle-last-5-years.csv')#vechile and driver details

/tmp/ipython-input-660168918.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  vec_details=pd.read_csv('/content/dft-road-casualty-statistics-vehicle-last-5-years.csv')

In [ ]:
acc_details=pd.read_csv('/content/dft-road-casualty-statistics-collision-last-5-years (1).csv')#accident details

/tmp/ipython-input-3403172315.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  acc_details=pd.read_csv('/content/dft-road-casualty-statistics-collision-last-5-years (1).csv')

In [ ]:
both_data=pd.merge(acc_details,vec_details,on='accident_reference',how='left')

In [ ]:
both_data['accident_severity'].value_counts()

accident_severity
3    682329
2    174966
1     12553
Name: count, dtype: int64

In [ ]:
slight=both_data[both_data['accident_severity']==3]#taking slightly accident details to combaine with non accident details

In [ ]:
slight.shape

(682329, 70)

In [ ]:
slight_sample=slight.sample(n=len(non_data),random_state=42).reset_index(drop=True)
slight_extra=slight_sample.drop(columns=non_data.columns,errors='ignore')

In [ ]:
non_data=pd.concat([non_data.reset_index(drop=True),slight_extra],axis=1)

In [ ]:
non_data.shape

(16283, 98)

In [ ]:
non_data=non_data.sample(n=len(new_data),random_state=42)

In [ ]:
new_data["label_accident"]=1
non_data["label_accident"]=0

In [ ]:
combained=pd.concat([new_data,non_data],ignore_index=True)

In [ ]:
combained.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14266 entries, 0 to 14265
Data columns (total 99 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Unnamed: 0                                   14266 non-null  int64
 1   accident_index_x                             14266 non-null  object
 2   accident_year_x                              14266 non-null  int64
 3   accident_reference                           14266 non-null  object
 4   location_easting_osgr                        14266 non-null  float64
 5   location_northing_osgr                       14266 non-null  float64
 6   longitude                                    14266 non-null  float64
 7   latitude                                     14266 non-null  float64
 8   police_force                                 14266 non-null  int64
 9   accident_severity                            14266 non-null  int64
 10  number_of_vehicles                           14266 non-null  int64
 11  number_of_casualties                         14266 non-null  int64
 12  date                                         14266 non-null  object
 13  day_of_week                                  14266 non-null  int64
 14  time                                         14266 non-null  object
 15  local_authority_district                     14266 non-null  int64
 16  local_authority_ons_district                 14266 non-null  object
 17  local_authority_highway                      14266 non-null  object
 18  first_road_class                             14266 non-null  int64
 19  first_road_number                            14266 non-null  int64
 20  road_type                                    14266 non-null  int64
 21  speed_limit                                  14266 non-null  int64
 22  junction_detail                              14266 non-null  int64
 23  junction_control                             14266 non-null  int64
 24  second_road_class                            14266 non-null  int64
 25  second_road_number                           14266 non-null  int64
 26  pedestrian_crossing_human_control            14266 non-null  int64
 27  pedestrian_crossing_physical_facilities      14266 non-null  int64
 28  light_conditions                             14266 non-null  int64
 29  weather_conditions                           14266 non-null  int64
 30  road_surface_conditions                      14266 non-null  int64
 31  special_conditions_at_site                   14266 non-null  int64
 32  carriageway_hazards                          14266 non-null  int64
 33  urban_or_rural_area                          14266 non-null  int64
 34  did_police_officer_attend_scene_of_accident  14266 non-null  int64
 35  trunk_road_flag                              14266 non-null  float64
 36  lsoa_of_accident_location                    14266 non-null  object
 37  enhanced_severity_collision                  14266 non-null  float64
 38  blackspot_id                                 14266 non-null  float64
 39  temperature_2m                               14266 non-null  float64
 40  apparent_temperature                         14266 non-null  float64
 41  precipitation                                14266 non-null  float64
 42  rain                                         14266 non-null  float64
 43  snowfall                                     14266 non-null  float64
 44  weathercode                                  14266 non-null  int64
 45  surface_pressure                             14266 non-null  float64
 46  cloudcover                                   14266 non-null  int64
 47  cloudcover_low                               14266 non-null  int64
 48  cloudcover_mid                               14266 non-null  int64
 49  cloudcover_high                              14266 non-null  int64
 50  et0_fao_evapotranspiration                   14266 non-null  float64
 51  evapotranspiration                           0 non-null      float64
 52  windgusts_10m                                14266 non-null  float64
 53  windspeed_10m                                14266 non-null  float64
 54  winddirection_10m                            14266 non-null  int64
 55  relative_humidity_2m                         14266 non-null  int64
 56  dewpoint_2m                                  14266 non-null  float64
 57  visibility                                   0 non-null      float64
 58  accident_index_y                             13439 non-null  object
 59  accident_year_y                              13439 non-null  float64
 60  vehicle_reference                            13439 non-null  float64
 61  vehicle_type                                 13439 non-null  float64
 62  towing_and_articulation                      13439 non-null  float64
 63  vehicle_manoeuvre                            13439 non-null  float64
 64  vehicle_direction_from                       13439 non-null  float64
 65  vehicle_direction_to                         13439 non-null  float64
 66  vehicle_location_restricted_lane             13439 non-null  float64
 67  junction_location                            13439 non-null  float64
 68  skidding_and_overturning                     13439 non-null  float64
 69  hit_object_in_carriageway                    13439 non-null  float64
 70  vehicle_leaving_carriageway                  13439 non-null  float64
 71  hit_object_off_carriageway                   13439 non-null  float64
 72  first_point_of_impact                        13439 non-null  float64
 73  vehicle_left_hand_drive                      13439 non-null  float64
 74  journey_purpose_of_driver                    13439 non-null  float64
 75  sex_of_driver                                13439 non-null  float64
 76  age_of_driver                                13439 non-null  float64
 77  age_band_of_driver                           13439 non-null  float64
 78  engine_capacity_cc                           13439 non-null  float64
 79  propulsion_code                              13439 non-null  float64
 80  age_of_vehicle                               13439 non-null  float64
 81  generic_make_model                           13439 non-null  object
 82  driver_imd_decile                            13439 non-null  float64
 83  driver_home_area_type                        13439 non-null  float64
 84  lsoa_of_driver                               13439 non-null  object
 85  escooter_flag                                13439 non-null  float64
 86  dir_from_e                                   632 non-null    float64
 87  dir_from_n                                   632 non-null    float64
 88  dir_to_e                                     628 non-null    float64
 89  dir_to_n                                     628 non-null    float64
 90  driver_distance_banding                      13439 non-null  float64
 91  label_accident                               14266 non-null  int64
 92  accident_index                               7133 non-null   object
 93  accident_year                                7133 non-null   float64
 94  datetime                                     7133 non-null   object
 95  nonacc_datetime                              7133 non-null   object
 96  nonacc_dayofweek                             7133 non-null   float64
 97  nonacc_hour                                  7133 non-null   float64
 98  label                                        7133 non-null   float64
dtypes: float64(53), int64(33), object(13)
memory usage: 10.8+ MB

In [ ]:
combained.to_csv('all_data_.csv',index=False)